@import '../../../00-Common/styles/sass/variables';
@import '../../../00-Common/styles/sass/mixins';

.modalContent {
  @include flex(column, '', center, nowrap);

  .titleBlock {
    @include flex(row, space-between, center, wrap);
    width: 100%;
    gap: 20px;
    padding-bottom: 45px;
    border-bottom: 1px solid #000;
    @media screen and (max-width: 730px) {
      flex-direction: column;
    }

    .imageBlock {
      @include flex(row, center, center, '');
      position: relative;
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      overflow: hidden;
      flex-basis: 48%;

      .image {
        width: 100%;
        height: auto;
        transition: 0.5s;
      }
    }

    .titleText {
      flex-basis: 48%;

      .projectTitle {
        color: white;
      }

      .description {
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.5;
      }

      .buttonBlock {
        @include flex(row, start, center, wrap);
      }
    }
  }
  .techDescriptionBlock {
    @include flex(row, start, '', '');
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 15px;
    @media screen and (max-width: 730px) {
      flex-wrap: wrap;
    }
    .uList {
      margin: 0 30px;
      padding-left: 0;
      .uListHeader {
        color: white;
      }
      ul {
        padding-left: 18px;
      }
      ul > li {
        margin: 10px 0;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.5;
      }
    }
  }

  .resumeBlock {
    padding: 15px 0;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
    .description {
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }
  .galleryBlock {
    @include flex(row, space-evenly, center, wrap);
    width: 100%;
    gap: 40px;
    padding-bottom: 45px;
    border-bottom: 1px solid #000;
    @media screen and (max-width: 730px) {
      flex-direction: column;
    }
    .imageBlock {
      @include flex(row, center, center, '');
      position: relative;
      width: 27%;
      height: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      overflow: hidden;
      @media screen and (max-width: 730px) {
        width: 100%;
      }

      .image {
        max-width: 100%;
        height: auto;
        transition: 0.5s;
        //scale: 1.1;
      }
    }
  }
  .addDescription {
    width: 100%;
    .description {
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }
}
