$textColor: #d3d3d3;
$primaryColor: #0b6c00;

$bgColor: #212428;
$bgSecondColor: #252527;
$borderResume: #17191c;

$linearGradient_1: linear-gradient(145deg, #1e2024, #23272b);
$linearGradient_2: linear-gradient(to right bottom, #212428, #16181c);

$boxShadow_1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

//$fontTitleColor: #0b7300;
$fontTitleColor: #00ff2d;
$fontColor: #c4cfde;
$fontGreyColor: #6c757d;
$fontGreyColor2: #b0b3b4;
$fontWhiteColor: #fff;
$fontRedColor: #ff014f;

$titleFontFamily: 'Josefin Sans', 'sans-serif';
$textFontFamily: 'Poppins', 'sans-serif';
$montserratFontFamily: 'Montserrat', sans-serif;
$josefinFontFamily: 'Josefin Sans', sans-serif;
